
*{
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 700;
  text-decoration:none;
}

:root {
  --font-color: rgb(243, 243, 243);
  --background-color:#707C74;
  --hover-color:#667069;
  --border-color:1px solid rgb(185, 185, 185);
  --font-size: 2em;
  --btn-font-size:20px;
  --h1-font-size:38px;
  --btn-letter-spacing:1px;
}
.Container{
  /* Box 模型 */
  width: 100vw;
  height: 100vh;
  display: flex;
  color: var(--font-color);
  background-color: var(--background-color);
}

.Sidebar {
  width: 250px;
  background-color: var(--background-color);
  display: flex;
  flex: none;
  flex-direction: column;
  border-right: var(--border-color);
}

.SidebarBTN{
  width: 100%;
  padding: 10px 20px;
  line-height: 1.5em;
  background-color: var(--background-color);
  box-sizing: border-box;
}

.SidebarBTN:hover{
  background-color: var(--hover-color);
}

.SidebarBTN a:link{
  color: var(--font-color);
}

.SidebarBTN a:visited{
  color: var(--font-color);
}

.Main{
  flex:1;
  overflow: hidden;
}


/* width */
::-webkit-scrollbar {
	width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  border-left: var(--border-color);
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--font-color); 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background:var(--font-color); 
}

